---
const {
  variant = "grid-glow",
  lineColor = "#f0f0f0",
  gridSize = "6rem 4rem",
  glowColor = "#C9EBFF",
  darkDotColor = "#ffffff33",
  darkBgColor = "#00091d",
  darkDotSize = "20px",
} = Astro.props;
---

<!-- Light background -->
<div
  class="absolute inset-0 -z-10 h-full w-full transition-opacity duration-500"
  class:list={{
    "opacity-100 dark:opacity-0": true,
  }}
>
  {(variant === "grid" || variant === "grid-glow") && (
    <div
      class="absolute inset-0"
      style={`
        background-image:
          linear-gradient(to right, ${lineColor} 1px, transparent 1px),
          linear-gradient(to bottom, ${lineColor} 1px, transparent 1px);
        background-size: ${gridSize};
      `}
    />
  )}

  {variant === "grid-glow" && (
    <div
      class="absolute inset-0"
      style={`
        background-image:
          radial-gradient(circle 500px at 50% 200px, ${glowColor}, transparent);
      `}
    />
  )}
</div>

<!-- Dark background -->
<div
  class="absolute inset-0 -z-10 transition-opacity duration-500 opacity-0 dark:opacity-100"
  style={`
    background-color: #000000;
    background-image: radial-gradient(${darkDotColor} 1px, ${darkBgColor} 1px);
    background-size: ${darkDotSize} ${darkDotSize};
  `}
/>
